@import 'bootstrap/bootstrap-grid';

$dark-blue: #001b47;
$green: rgba(10,185,112,1);
$dark-green: rgba(17,136,90,1);

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 100%;
	// @include media-breakpoint-up(xs) { font-size: 100% !important; }
	// @include media-breakpoint-up(md) { font-size: 102% !important; }
	// @include media-breakpoint-up(lg) { font-size: 105% !important; }
	// @include media-breakpoint-up(xl) { font-size: 110% !important; }
}

body {
	background: linear-gradient(135deg, rgba(10,185,112,1) 0%, rgba(17,136,90,1) 100%);
	background-attachment: fixed;
	min-height: 100%;
	font-family: Roboto, Arial, sans-serif;
}

a {
	text-decoration: none;
}

.title {
	font-family: "Gentona";
	font-weight: 600;
	color: $dark-blue;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Gentona";
	font-weight: 600;
	color: $dark-blue;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#main {
	position: relative;
	margin: 0 auto;
	padding: 0;
}

.login-screen {
	@include media-breakpoint-up(xs) { width: 100%; }
	@include media-breakpoint-up(md) { width: 70% !important; }
	@include media-breakpoint-up(lg) { width: 55% !important; }
	@include media-breakpoint-up(xl) { width: 40% !important; }

	> div {
		@extend .col-12;
		font-size: 1.2rem;
		padding: 2em;
	}

	.login-modal {
		position: relative;
		text-align: center;
		background: #FFF;

		h1 {
			margin-bottom: 1em;
			text-transform: uppercase;
		}
	}

	form {
		margin-bottom: 2em;
		input:not(.btn) {
			display: block;
			margin: .5em auto;
			width: 80%;
		}
	}

	.alt-logins {
		margin: 0 auto;
		width: 80%;
		display: none;

		.btn {
			display: block;
			width: 100%;
		}
	}

	.extend-options {
		cursor: pointer;
		&:after {
			position: relative;
			display: inline-block;
			content: "";
			-webkit-mask: url(../site-images/arrow.svg) no-repeat 100% 100%;
			mask: url(../site-images/arrow.svg) no-repeat 100% 100%;
			-webkit-mask-size: contain;
			mask-size: contain;
			background-color: $dark-blue;
			height: .6em;
			width: .9em;
			top: -.03em;
			left: .4em;
			transform: rotate(0deg);
		}
	}
}

.new-actions-screen {
	@include media-breakpoint-up(xs) { width: 100%; }
	@include media-breakpoint-up(md) { width: 70% !important; }
	@include media-breakpoint-up(lg) { width: 55% !important; }
	@include media-breakpoint-up(xl) { width: 40% !important; }

	> div {
		@extend .col-12;
		font-size: 1.3rem;
		padding: 2em;
	}

	.actions-modal {
		position: relative;
		text-align: center;
		background: #FFF;
		text-transform: uppercase;

		h1 {
			margin-bottom: 1em;
			text-transform: uppercase;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a {
				color: #333;
				text-decoration: none;

				li {
					font-family: "Sailec";
					border: solid 1px $green;
					color: $green;
					transition: 200ms;
					transition-property: color, border-color;

					margin: .8em 0;
					padding: 1em;
					border-radius: .5em;
				}

				&:hover li {
					color: $dark-green;
					border-color: $dark-green;
				}
			}
		}
	}
}

.add-expenses-screen {
	@extend .row;
	width: 100% !important;
	max-width: 100% !important;

	.sidebar {
		padding: 0;
		background: #FFF;
		z-index: 99999;
		@extend .col-12, .col-md-3;

		@include media-breakpoint-between(xs, sm) {
			box-shadow: 0 -1px 30px 0px rgba(0, 0, 0, 0.05);
			border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		}

		@include media-breakpoint-only(md) {
			box-shadow: 1px 0 30px 0px rgba(0, 0, 0, 0.05);
			border-right: 1px solid rgba(0, 0, 0, 0.15);
		}

		.user {
			width: 100%;
			display: block;
			border-bottom: solid 1px #EEE;

			span a {
				padding: 1.5em;
				display: inline-block;
			}

			.name a {
				@extend .title;
				text-transform: uppercase;
				font-size: 1.3rem;
				display: flex;
    			align-items: center;

				img {
					width: 2em;
					border-radius: 1em;
					margin: 0 .8em 0 0;
				}
			}
		}

		ul.menu {
			li a {
				width: 100%;
				display: inline-block;
				padding: 1.5em 2em;
				font-family: "Sailec";
				color: #333;

				&:hover, &.active {
					background: #EFEFEF;
				}
			}
		}
	}

	.main-window {
		@extend .col-12, .col-md-9, .col-lg-8, .col-xl-7;
		margin: 0 auto;
		background: #FFF;
		padding: 2em;

		h1, h2, h3 {
			margin: 0 0 1em;
		}

		input {
			display: block;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			border-radius: 2px;
		    overflow: hidden;
		    box-shadow: 0 0 0px 1px #001b47;

			tr {
				width: 100%;
				border-bottom: 1px solid $dark-blue;

				&:last-of-type {
					border-bottom: none;
				}

				td.amount {
					font-weight: bold;
					text-align: right;
				}

				&.income {
					td.amount {
						color: #44a80e;
					}
				}

				&.expense {
					td.amount {
						color: #fe4646;
					}
				}

				.tags span {
					margin: 0 .3em;
					padding: .3em .6em .25em;
					border-radius: .5em;
					display: inline;
					border: solid 1px;
					font-size: .8em;
				}
			}

			td {
				padding: 1em;
			}
		}

		.filter {
			margin: 0 0 .7em .2em;
			font-family: "Sailec";
			display: block;

			&:last-of-type {
				margin: 0 0 1.5em .2em;
			}

			.description {
				display: inline;
				margin-right: 1em;
				pointer-events: none;
				color: $green;

				&::after {
					display: inline;
					content: ":";
				}
			}

			.option {
				transition: 200ms;
				transition-property: color, border-color;
				margin: .8em 0;
				padding: .6em .9em .5em;
				border-radius: .5em;
				display: inline;
				cursor: pointer;

				&.active {
					border: solid 1px $green;
					color: $green;
				}

				&:hover {
					color: $green;
					border-color: $dark-green;
				}
			}

			.field {
				font-family: "Sailec";
				transition: 200ms;
				transition-property: color, border-color;
				margin: .8em 0;
				padding: .6em .9em .5em;
				border-radius: .5em;
				display: inline-block;
				border: solid 1px $green;
				width: 110px;
				outline: none;
			}
		}
	}

	.switchBtn{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		left: 0px;
		top: -12px;
		transform: translate3d(0,0,0);
		background: red;

		@keyframes switchOn {
		  0%{transform: scale3d(1,1,1) translate3d(0px,0,0); transform-origin: left center;}
		  40%{transform: scale3d(1.4,0.7,0) translate3d(20px,0,0); transform-origin: right center;}
		  70%{transform: scale3d(0.9,1.15,1) translate3d(33px,0,0); }
		  100%{transform: scale3d(1,1,1) translate3d(30px,0,0); }
		}

		&:hover {
			animation: switchOn 250ms linear forwards;
		}
	}
}
